html {
  font-size: 100px;
}
#container {
  padding: 0 0.25rem;
}
.introduce-text {
  line-height: .9rem;
}
.layui-upload-img1 {
	border: 1px dashed #000;
	width: 2.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}
#faces p {
	text-align: center;
	line-height: 1.5rem;
	font-size: 0.7rem;
}
.shop-pic-text {
	width: 3.5rem;
	position: absolute;
	right: 0.5rem;
}

.layui-btn {
  width: 2.5rem;
  height: 1.5rem;
  background-color: #fff;
  border: 1px dashed #000;
}

.btn-add {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.layui-upload-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 2.5rem;
	height: 1.5rem;
	margin: 0;
}

.shop-info-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.95rem;
  height: 1.2rem;
  margin: 0;
}

.shop-goods-info,
.shop-info-upload {
  width: 1.95rem;
  height: 1.2rem;
  margin-left: 0.1rem;
}
.shop-goods-infos,
.shop-info-uploads1 {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.idcard-text {
	text-align: center;
	line-height: 0.5rem;
}
.face {
	position: relative;
}
.upload-file {
	width: 2.5rem;
	height: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.upload-pic #faces {
  width: 2rem;
}
table {
  margin-top: 0.5rem;
}
tr td:nth-child(n + 2) {
  padding-left: 0.38rem;
}

/* 店员 */
.straff-info {
  position: relative;
  border: 1px solid #000;
  padding: .2rem;
  margin-top: .2rem;
}
.upload-staff-pic,
.upload-staff-pic .layui-upload-img,
.upload-staff-pic .layui-upload-img input {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.layui-upload-img#faces .staff-header {
  line-height: 1rem;
  font-size: .5rem;
}
.input-optometrist {
  margin: .15rem;
}
.staff-introduce {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  line-height: .6rem;
}

/* 删除按钮 */
.layui-icon-close-fill {
  position: absolute;
  top: -0.26rem;
  right: -0.26rem;
  font-size: 0.5rem;
  color: red;
}

/* 新增验光师 */
.new-optometrist {
  width: 100%;
  height: .8rem;
  background-color: #ccc;
  margin-top: .2rem;
}
.new-optometrist p {
  font-size: .4rem;
  text-align: center;
  line-height: .8rem;
}

/* 按钮 */
.optometrist-next {
  display: block;
  width: 3rem;
  height: .8rem;
  margin: .5rem auto;
}
.optometrist-next input {
  width: 3rem;
  height: .8rem;
  background-color: #169BD5;
  border: none;
  border-radius: .1rem;
  color: #ffffff;
}