.content {
	padding: 2.5rem 0.5rem 0 0.5rem;
	height: auto;
}

.content input,
li {
	display: block;
	width: 5.6rem;
	padding: 0 0.2rem;
	height: 0.9rem;
	border: none;
	font-size: 0.28rem;
	color: #333;
	border: 1px solid #ccc;
	margin-bottom: 0.5rem;
	text-indent: 0.2rem;
}

.content input:nth-child(3) {
	margin-bottom: 0.1rem;
}


.info {
	font-size: 0.3rem;
	line-height: 1rem;
}

.info a {
	color: #1E9FFF
}

.logo {
	display: block;
	width: 2.5rem;
	height: 1.5rem;
	margin: 0 auto 0.3rem;
	border: 1px solid #ccc;
}

.titlea {
	padding: 0 0.5rem;
}

li.btn {
	display: block;
	outline: none;
	border: none;
	text-align: center;
	line-height: 0.9rem;
	height: 0.9rem;
	background: #1E9FFF;
	color: #fff;
	font-size: 0.34rem;
	margin: 1rem 0 0.1rem 0;
}