body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:969px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:109px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:22px;
  width:436px;
  height:109px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:567px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:131px;
  width:436px;
  height:567px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:102px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:698px;
  width:436px;
  height:102px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:137px;
  width:375px;
  height:28px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:165px;
  width:375px;
  height:44px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:175px;
  width:124px;
  height:25px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:120px;
  word-wrap:break-word;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:607px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:347px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:354px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:243px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:250px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:388px;
  width:329px;
  height:74px;
}
#u867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:74px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:282px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:289px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:109px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:22px;
  width:436px;
  height:109px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:567px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:131px;
  width:436px;
  height:567px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:276px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:102px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:698px;
  width:436px;
  height:102px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:137px;
  width:375px;
  height:28px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:165px;
  width:375px;
  height:44px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:175px;
  width:124px;
  height:25px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:120px;
  word-wrap:break-word;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:607px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:347px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:354px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:243px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:250px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:388px;
  width:329px;
  height:74px;
}
#u919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:74px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:240px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:282px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:289px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:279px;
  width:33px;
  height:25px;
  color:#FF9966;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
